canvas {
  background: url(../big_red_grid.jpg);
  background-size: 100%;
  margin: 10 auto;
  border: 6px ridge gray;
  border-radius: 40px;
  display: block;
}

body {
  background-color: black;
  color: #aaa;
  font-family: sans-serif;
  font-size: 14pt;
  text-align: center;
  width: 1220px;
  margin: 0 auto;
  padding: 10px;
}

.instructions {
  padding: 10px;
  background-color: #333;
  border: 2px solid maroon;
  border-radius: 10px;
  color: orange;
  margin: 0 10px;
  position: relative;
}

.instructions:hover {
  cursor: pointer;
  transition: font-size 0.2s;
  background-color: #444;
}

.instructions:hover > section {
  display:block;

}

img {
  margin: 10px;
  float: left;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;;
  align-items: center
}

section {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: black;
  border: 2px solid maroon;
  border-radius: 10px;
  padding: 30px;
  font-size: 24px;
  line-height: 200%;
  width: 200px;
  color: gray;
}

strong {
  color: orange;
}

ul {
  list-style: none;
  margin: none;
}

li {
  float: left;
  width: 130px;
  border: 0px solid yellow;
  box-sizing: border-box;
}

li:hover {
  font-size: 22px;
  transition: font-size 0.2s;

}

li > a{
  text-decoration: none;
  color: orange;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;


    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

}

/* Modal Content/Box */
.modal-content {

    background-color: transparent;
    margin: 150 auto ;
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

#newGameMessage:hover {
    cursor: pointer;
}

#endgameMessage {
    font-size: 120px;
    font-weight: bold;
    margin: 125px 0 25px 0;
     padding: 5px solid yellow;
}

#newGameMessage {
    font-size: 40px;
    font-weight: bold;
    padding: 0px;
}
